<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Handy Helper</title>
    
</head>

<body>
    <div class="container mt-3">
        <h1>Hello {{request.session.user_name}}</h1>
        <a class="btn btn-outline-secondary" href="/logout" role="button">Logout</a>
        <a class="btn btn-outline-primary" href="/jobs/new" role="button">New Job!</a>


        <div class="inline border border-dark p-3 rounded shadow-sm bg-light">
            <h3>Everyone's Jobs:</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <th scope="col">JOB</th>
                    <th scope="col">LOCATION</th>
                    <th scope="col">ACTIONS</th>
                </thead>
                <tbody>
                    {% for job in all_jobs %}
                    {% if job.worker == None %}
                    <tr>
                        <td>{{ job.title }}</td>
                        <td>{{ job.location }}</td>
                        <td><a href="/jobs/{{ job.id }}">View</a> |
                            {% if job.user.id == request.session.user_id %}
                            <a href="/jobs/{{ job.id }}/destroy">Remove</a> |
                            <a href="/jobs/edit/{{ job.id }}">Edit</a> |
                            {% endif %}
                            <a href="jobs/{{ job.id }}/add">Add</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <h3>{{ request.session.user_name }}'s jobs</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <th scope="col">JOB</th>
                    <th scope="col">ACTIONS</th>
                </thead>
                <tbody>
                    {% for job in all_jobs %}
                    {% if job.worker.id == request.session.user_id%}
                    <tr>
                        <td>{{ job.title }}</td>
                        <td><a href="/jobs/{{ job.id }}">View</a> |
                            
                            <a href="/jobs/{{ job.id }}/destroy">Done</a> |
                            <a href="/jobs/{{ job.id }}/giveup">Give up</a> |
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

        <!-- <div class="inline border border-dark p-3 rounded shadow-sm bg-light">
        <h3>Everyone's Jobs:</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <th scope="col">JOB</th>
                <th scope="col">ACTIONS</th>
            </thead>
            <tbody>
                {% for job in all_jobs %}
                <tr>
                    <td>{{ job.name }}</td>
                    <td><a href="#">View</a> | <a href="#">Done</a> | <a href="#">Give up</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>